/* RESET DE INTERFACE */
* {
    background-color: #84e1ad;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMPORT DE FONTE LOCAL */
@font-face {
    font-family: "idroid";
    src: url(./fontes/idroid.otf);
}

/* HEADER DA PAGINA */

header {
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #d4e2da;
    flex-direction: column;
    background-image: linear-gradient(to top, #1a5c38, #37c978);
}

header>*, nav>*{
    background-color: #ffffff00;
}

.titleGeral {
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    font-size: small;
    margin-bottom: 40px;
    width: 60%;
    text-align: center;
}


.menu {
    padding: 5px;
    justify-content: space-around;
    width: 60%;
    display: flex;
    align-self: flex-start;
}

.menu>a{
    color: #cac9c9;
    text-decoration: none;
}
/* --------------------- */

/* MAIN DA PAGINA */
article>h1,
article>h2 {
    font-family: "idroid";
}

main {
    padding: 0px 10px 0px 10px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main>*, article>*, picture>*{
    background-color: #ffffff;
    padding: 10px;                
}
.pVersao{
    background-image: linear-gradient(to right, #caedd9, #ffffff);
}

.androids>img{
    width: 100%;
    display: block;
}

.mulher>img{
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
}

.bugdroid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* video */
.blocodevideo{
    background-color: #1a5c38;
}

main>.blocodevideo{
    padding: 0 !important;
}

iframe{
    width: 100%;
    height: 300px;
    padding: 0 !important;
}

/*  extra */

h3.extra{
    background-color: #2fa866;
    color: rgb(241, 240, 240);
    padding: 5px;
}

.textoenumerado{
    display: flex;
    flex-direction: row
}

div *{
    display: flex;
    flex-direction: column;
    background-color: #c5ebd6;
}

div>*{
    padding: 10px;
    text-align: justify;
}

div.p{
    background-color: #60c01100;
}

ul{
    width: 40%;
}

/* --------------------- */